$dirt-primary               : #343434;
$dirt-dark-primary          : mix(#000, $dirt-primary, 40%);
$dirt-darker-primary        : mix(#000, $dirt-primary, 60%);
$dirt-light-primary         : mix(#fff, $dirt-primary, 50%);
$dirt-lighter-primary       : mix(#fff, $dirt-primary, 90%);
$dirt-background            : #f3f3f3;
$dirt-background-light      : #fafafa;
$dirt-background-lighter    : #ffffff;
$dirt-text                  : #343434;
$dirt-text-muted            : #8e8b82;
$dirt-link                  : #343434;
$dirt-link-dark             : mix(#000, $dirt-link, 25%);
$dirt-link-light            : mix(#fff, $dirt-link, 25%);
$dirt-footer                : #e9dcbe;
$dirt-border                : #e9dcbe;
$dirt-border-light          : mix(#fff, $dirt-border, 50%);

/* Color codes used for the site */
$danger-color               : #d35c5c;
$info-color                 : #88a4d3;
$notice-color               : #b49368;
$success-color              : #6eb958;
$warning-color              : #e0ac16;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Light theme for the site */
:root {
    --global-base-color                 : #{$dirt-primary};
    --global-bg-color                   : #{$dirt-background};
    --global-footer-bg-color            : #{$dirt-footer};
    --global-border-color               : #{$dirt-border};
    --global-dark-border-color          : #{$dirt-text-muted};
    --global-code-background-color      : #{$dirt-background-lighter};
    --global-code-text-color            : #{$dirt-darker-primary};
    --global-fig-caption-color          : #{$dirt-text-muted};
    --global-link-color                 : #{$dirt-link};
    --global-link-color-hover           : #{$dirt-link-dark};
    --global-link-color-visited         : #{$dirt-link-light};
    --global-masthead-link-color        : #{$dirt-text};
    --global-masthead-link-color-hover  : #{$dirt-text-muted};
    --global-text-color                 : #{$dirt-text};
    --global-text-color-light           : #{$dirt-text-muted};
    --global-thead-color                : #{$dirt-border-light};
}

footer {
  color: #{$dirt-text};
}

