/* ==========================================================================
   SUNRISE THEME - LIGHT VERSION
   ========================================================================== */
/* Color codes used for the theme */
$sunrise-primary            : #fc3a52;
$sunrise-dark-primary       : mix(#000, $sunrise-primary, 40%);
$sunrise-darker-primary     : mix(#000, $sunrise-primary, 60%);
$sunrise-light-primary      : mix(#fff, $sunrise-primary, 50%);
$sunrise-lighter-primary    : mix(#fff, $sunrise-primary, 90%);
$sunrise-background         : #e8d5b7;
$sunrise-background-light   : mix(#fff, $sunrise-background, 20%);
$sunrise-background-lighter : #ffffff;
$sunrise-text               : #000000;
$sunrise-text-muted         : #0e2431;
$sunrise-link               : mix(#000, $sunrise-primary, 10%);
$sunrise-link-dark          : mix(#000, $sunrise-link, 25%);
$sunrise-link-light         : mix(#fff, $sunrise-link, 25%);
$sunrise-footer             : #f9b248;
$sunrise-border             : mix(#000, $sunrise-background, 20%);
$sunrise-border-dark        : mix(#000, $sunrise-background, 30%);

/* Color codes used for the site */
$danger-color               : #cc6666;
$info-color                 : #81a2be;
$notice-color               : #de935f;
$success-color              : #b5bd68;
$warning-color              : #f0c674;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Light theme for the site */
:root {
    --global-base-color                 : #{$sunrise-primary};
    --global-bg-color                   : #{$sunrise-background};
    --global-footer-bg-color            : #{$sunrise-footer};
    --global-border-color               : #{$sunrise-border};
    --global-dark-border-color          : #{$sunrise-border-dark};
    --global-code-background-color      : #{$sunrise-background-light};
    --global-code-text-color            : #{$sunrise-text-muted};
    --global-fig-caption-color          : #{$sunrise-text-muted};
    --global-link-color                 : #{$sunrise-link};
    --global-link-color-hover           : #{$sunrise-link-light};
    --global-link-color-visited         : #{$sunrise-link-dark};
    --global-masthead-link-color        : #{$sunrise-text};
    --global-masthead-link-color-hover  : #{$sunrise-text-muted};
    --global-text-color                 : #{$sunrise-text};
    --global-text-color-light           : #{$sunrise-text-muted};
    --global-thead-color                : #{$sunrise-background-light};
}
