/* ==========================================================================
   SUNRISE LIGHT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : #0e2431;
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #fc3a52;
$info-color                 : #3b9cba;
$notice-color               : #d67f05;
$success-color              : #62c462;
$warning-color              : #d67f05;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Sunrise light theme CSS variables */
:root {
    --global-base-color                 : #7a8288;
    --global-bg-color                   : #e8d5b7;
    --global-footer-bg-color            : #f9b248;
    --global-border-color               : #c9b89a;
    --global-dark-border-color          : #b5a284;
    --global-code-background-color      : #f0e4cd;
    --global-code-text-color            : #3d2f1f;
    --global-fig-caption-color          : #0e2431;
    --global-link-color                 : #d63043;
    --global-link-color-hover           : #f35465;
    --global-link-color-visited         : #a8253a;
    --global-masthead-link-color        : #000000;
    --global-masthead-link-color-hover  : #3d3d3d;
    --global-text-color                 : #000000;
    --global-text-color-light           : #0e2431;
    --global-thead-color                : #ead8be;
}

/* sunrise syntax highlighting (base16) */
$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #b4b7b4 !default;
$base05: #c5c8c6 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #cc6666 !default;
$base09: #de935f !default;
$base0a: #f0c674 !default;
$base0b: #b5bd68 !default;
$base0c: #8abeb7 !default;
$base0d: #81a2be !default;
$base0e: #b294bb !default;
$base0f: #a3685a !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
